@inherits ToolBoxBase<Card>

<div class="rz-ripple">
    <RadzenButton Click=@Click Variant="Variant.Text" Icon="view_agenda" />
</div>


@code {
    public override Card GenerateComponent()
    {
        return new Card();
    }
}
